<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
        <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
        <link rel="stylesheet" href="css/main_styles.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <!-- create new angular app here -->
    <body>

    <div ng-controller="AppController">

      <ons-navigator var="myNavigator">
      <ons-page ng-controller="PageController">
      
        <!-- this input takes in a string for a new list item, then the button adds that item to an array -->
          <div id="item-input-holder">
            <button id="btn-additem" class="button" ng-click="addToList(name)"><i class="fa fa-plus"></i></button>
            <div id="list-input-holder">
              <input id="input-item" type="text" class="text-input" ng-model="name"/>
            </div>
          </div>


        <ul class="list">
          <!-- new list items get displayed here -->
          <li class="list__item" ng-repeat="item in items"> 
            {{ item.name }}
            {{ item.price }}
            {{ item.rating }} 
          </li>
        </ul>
        
        </ons-page>
      </ons-navigator>

    </div>

       <script src="js/angular/angular.min.js"></script>
       <script src="lib/onsen/js/onsenui.js"></script>
       <script src="js/jquery-2.2.2.min.js"></script>
       <script src="js/main.js"></script>
       <script src="js/shoppingList.js"></script>
    </body>
</html>
